{% extends 'base.html' %}

{% block content %}

<h2>Imóveis Encontrados</h2>


<form action="/importar_imoveis_pdf" method="POST">


<table class="table">

<tr>
<th>
<input type="checkbox" id="todos">
</th>

<th>Título</th>
<th>Valor</th>
<th>Quartos</th>
<th>Área</th>

</tr>


{% for i in imoveis %}

<tr>

<td>
<input 
type="checkbox"
name="selecionados"
value="{{ loop.index0 }}"
checked
>
</td>


<td>{{ i.titulo }}</td>

<td>
R$ {{ i.valor }}
</td>

<td>
{{ i.quartos }}
</td>

<td>
{{ i.area }} m²
</td>


</tr>


{% endfor %}


</table>


<input 
type="hidden"
name="dados"
value='{{ imoveis | tojson }}'
>


<button class="btn-salvar">
Importar selecionados
</button>


</form>


<script>

document
.getElementById("todos")
.onclick=function(){

document
.querySelectorAll(
'input[name="selecionados"]'
)
.forEach(x=>{
x.checked=this.checked
})

}

</script>


{% endblock %}
