{% extends 'base.html' %}

{% block content %}

<h2>Imóveis Encontrados</h2>


<form action="/importar_imoveis_pdf" method="POST">


<table class="table">

<tr>

<th>
Selecionar
</th>

<th>Título</th>
<th>Valor</th>
<th>Quartos</th>
<th>Área</th>
<th>Bairro</th>
<th>Rua</th>
<th>Condomínio</th>
<th>IPTU</th>
<th>Vaga</th>

</tr>


{% for i in imoveis %}

<tr>

<td>
<input
type="checkbox"
name="selecionados"
value="{{ loop.index0 }}"
checked
>
</td>


<td>
{{ i.titulo }}
</td>


<td>
💰 R$ {{ i.valor }}
</td>


<td>
🛏️ {{ i.quartos }}
</td>


<td>
📐 {{ i.area }} m²
</td>


<td>
📍 {{ i.bairro }}
</td>


<td>
🏠 {{ i.rua }}
</td>


<td>
🏢 R$ {{ i.condominio }}
</td>


<td>
📄 R$ {{ i.iptu }}
</td>


<td>
🚗 {{ i.vaga }}
</td>


</tr>


{% endfor %}


</table>

<input 
type="hidden"
name="dados"
value='{{ imoveis | tojson }}'
>


<button class="btn-salvar">
Importar selecionados
</button>


</form>


<script>

document
.getElementById("todos")
.onclick=function(){

document
.querySelectorAll(
'input[name="selecionados"]'
)
.forEach(x=>{
x.checked=this.checked
})

}

</script>


{% endblock %}
