<h1>WhatsApp do Corretor</h1>

<p>Sessão: {{ sessao }}</p>
<p>Status: {{ status }}</p>
<p>Número: {{ numero }}</p>

<button onclick="conectarWhatsapp()">
    Conectar WhatsApp
</button>

<p id="msg"></p>

<img id="qr"
     style="width:260px;display:none;margin-top:20px;">

<script>

async function conectarWhatsapp() {

    document.getElementById("msg").innerText =
        "Iniciando sessão...";

    const resp = await fetch('/conectar_whatsapp');

    const dados = await resp.json();

    document.getElementById("msg").innerText =
        "Sessão: " + dados.sessao;

    carregarQR();
}

async function carregarQR() {

    const resp = await fetch(
        'https://zoom-leggings-viability.ngrok-free.dev/qr/{{ sessao }}'
    );

    const dados = await resp.json();

    console.log(dados);

    if (!dados.sucesso) {

        document.getElementById("msg").innerText =
            "Aguardando QR Code...";

        setTimeout(carregarQR, 2000);

        return;
    }

    document.getElementById("qr").src = dados.qrcode;
    document.getElementById("qr").style.display = "block";

    document.getElementById("msg").innerText =
        "Escaneie o QR Code";

}

</script>
